@import './components/banner.css';
@import './components/depoimentos.css';
@import './components/etapas.css';
@import './components/footer.css';
@import './components/header.css';
@import './components/perguntas.css';
@import './components/planos.css';
@import './components/recursos.css';
@import './components/temas.css';
@import './components/elements/button.css';


/* fontes textos */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
/* font-family: "Pacifico", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Pacifico", cursive; */

a {
  text-decoration: none;
  font-size: 20px !important;
  font-family: "Pacifico", cursive;
}

.buttoncompra {
  display: flex;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #fc234b;
  border: 1px solid black;
}

.buttoncompra:hover {
  background-color: #f94dff;
}

.buttoncompra a{
  text-decoration: none !important;
  color: black;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #fbf1f8;
}